*{
	padding: 0;
	margin: 0;
}

body{
		background-image: url('../image/xingkong.jpeg');
		opacity: 0.9;
}
.all{
	width:700px;
	height:800px;
	margin: 50px auto;
}




/*
	导航部分
*/
.liubanben{
	
	
}
.header{
	width:100%;
	height:110px;
	background:rgb(0,0,0);
	opacity:0.9;
	border:0.4px solid gray;
	border-top-left-radius:30px;
	border-top-right-radius:30px;	
}
.nav{
	margin-top:15px;
}
.nav>.left{
	float: left;
	margin-left:145px;
	position: relative;
	top:20px;
}
.nav>.right{
	margin-left:470px;
	position: relative;
	top:20px;
}
.nav>.left>a{
	text-decoration: none;
	color:white;
	font-weight:bold;
	margin-left: 20px;
}
.nav>.right>a{
	text-decoration: none;
	color:white;
	font-weight:bold;
	margin-left: 10px;
}
.nav>.time{
	position: relative;
	top:-20px;
	left:80px;
	font-size:13px;
	color:white;
}
.nav>.state{
	position: relative;
	top:-20px;
	left:130px;
	font-size:13px;
	color:white;
}
.yuan{
	position:relative;
	top:-13px;
	left:305px;
}


.main{
	width:700px;
	height:800px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
	background-color:white;
	position:relative;
	top:-22px;
}
.main>.article{
	text-align: center;
}
.main>.article>form>h2{
	position: relative;
	top:50px;
}
.main>.article>form>h3{
	position: relative;
	top:90px;
}
.main>.article>form>input{
	position: relative;
	top:70px;
}
.main>.article>form>textarea{
	position: relative;
	top:100px;
}
.main>.article>form>.btn{
	position: relative;
	top:150px;
	left:-30px;
	margin-left:30px;
	border: none;
	background: none;
	border: 1px solid gray;
	width:50px;
}